.example-spacer {
  flex: 1 1 auto;
}

.page {
    display: flex;
    flex-direction: column;
    height:100vh;
  }

.footer{
    width: 100%;
    margin: auto auto 0 auto;
}

a:hover {
  color: aliceblue;
  text-decoration: none;
}

/* .mat-tab-group.mat-primary .mat-ink-bar,.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  color: #2C702A;
} */

::ng-deep .mat-ink-bar {
  background-color:aliceblue !important;}