<div class="card add-post">
    <h5 class="card-header">Adicionar/Atualizar carro</h5>
    <div class="card-body">
        <form id="add-form" (ngSubmit)="f.form.valid && savePost(f)" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="title">Modelo</label>
            <input type="text" [(ngModel)]="post.title" id="title" name="title" #title="ngModel" required class="form-control"
            [ngClass]="{ 'is-invalid': f.submitted && title.invalid }" placeholder="Digite o modelo">
            <div *ngIf="f.submitted && title.invalid" class="invalid-feedback">
                <div *ngIf="title.errors.required">Modelo é obrigatório</div>
            </div>
        </div>
        <div class="form-group">
            <label for="body">Cor</label>
            <input type="text" [(ngModel)]="post.body" id="body" name="body" #body="ngModel" required class="form-control"
            [ngClass]="{ 'is-invalid': f.submitted && body.invalid }" placeholder="Digite a cor">
            <div *ngIf="f.submitted && body.invalid" class="invalid-feedback">
                <div *ngIf="body.errors.required">Cor é obrigatória</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-add-post">Salvar</button>
        <button type="reset" class="btn btn-secondary btn-add-post" (click)="cleanForm(f)">Cancelar</button>
        </form>
    </div>
</div>
